.cloud {
    position: absolute;
    width: 90px;
    height: 65px;
    background: #eeeeee;
    border-radius: 50%;
    box-shadow: 
      35px 0px 0 0 #eeeeee,
      17px -17px 0 0 #eeeeee,
      47px -10px 0 0 #eeeeee;
    display: flex;
    align-items: center;
    justify-content: end;
    animation: float 6s ease-in-out infinite;
  } 
  
  .cloud i {
    font-size: 40px;
    padding-right: 5px;
    padding-bottom: 5px;
    transition: all 1s ease;
  }

  .cloud i:hover {
    transform: scale(1.15);
  }
  
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }