/* Mitad inferior (Olas animadas) */
.waves {
    position: absolute;
    height: 3.5vw;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: end;
    overflow: hidden;
}

@keyframes wave1 {
    0% {
        left: -200%; /* Comienza fuera de la pantalla a la izquierda */
    }
    100% {
        left: 0%; /* Termina fuera de la pantalla a la derecha */
    }
}

.waves__container {
    width: 300%;
    height: 100%;
    display: flex;
    position: absolute; /* Usamos absolute para mover la imagen */
    left: 0%; /* Comienza en la posici칩n original */
    animation: wave1 10s linear infinite; /* Agregamos duraci칩n y tipo de repetici칩n */
}

.waves__wave {
    width: 100%; /* Ajusta el tama침o de la imagen */
}
