/* Estilos generales para la pantalla de carga */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo opaco negro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que se vea encima de todo */
}

/* Estilos para el círculo que contiene el logo */
.loading-screen__circle {
  width: 40%;
  height: 60%;
  background-color: #0096ff; /* Fondo azul */
  border-radius: 50%; /* Hace el div circular */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Necesario para el efecto de olas */
  overflow: hidden;
}

/* Estilos para el div que contiene las olas */
.loading-screen__wave {
  position: absolute;
  bottom: 0%; /* Posición inicial de las olas */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  animation: waveAnimation 7.2s ease-in-out;
  z-index: 3;
  transform: rotate(180deg);
  
  overflow: hidden;
}

/* Contenedor de las olas */
.loading-screen__wave-container {
  margin-bottom: -1px;
  width: 300%;
  height: 10%;
  display: flex;
  position: relative;
  left: 0%;
  animation: wave2 2s linear infinite; /* Agregamos duración y tipo de repetición */
}

/* Olas (imágenes) */
.loading-screen__wave-image {
  margin-right: -1px;
  width: 100%;
}

/* Caja blanca que cubre el área de las olas */
.loading-screen__wave-box {
  width: 100%;
  height: 100%;
  background-color: white;
}

/* Animación de las olas subiendo */
@keyframes waveAnimation {
  0% {
    bottom: 0%; /* Inicia por debajo del círculo */
  }
  100% {
    bottom: 100%; /* Vuelve al inicio */
  }
}
@keyframes wave2 {
  0% {
      left: -200%; /* Comienza fuera de la pantalla a la izquierda */
  }
  100% {
      left: 0%; /* Termina fuera de la pantalla a la derecha */
  }
}

@media (max-width: 768px) {
  .loading-screen__circle {
    width: 100%;
    height: 100%;
    background-color: #0096ff; /* Fondo azul */
    border-radius: 0%; /* Hace el div circular */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necesario para el efecto de olas */
    overflow: hidden;
  }

  .loading-screen__wave-container {
    height: 5%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) and (orientation: portrait){
  .loading-screen__circle {
    width: 100%;
    height: 100%;
    background-color: #0096ff; /* Fondo azul */
    border-radius: 0%; /* Hace el div circular */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necesario para el efecto de olas */
    overflow: hidden;
  }

  .loading-screen__wave-container {
    height: 5%;
  }
  .loading-screen__circle img{
    width: 50%;
  }

}